<div class="card text-white bg-info mb-3">
    <div class="card-body" style="margin:7%">
      <h4 class="card-title">About AdamHawa.com</h4>
      <p class="card-text" style="text-align:justify">AdamHawa.com is a dating site for those out there who are still looking for a life partner
          to equip themselves in building a family of sakinah. Apart from that, AdamHawa.com is also a
          dating site dating to the Malay Muslim community in Malaysia. AdamHawa.com claim to be a
          world destination for casual dating, and are full of features that give you a lot of choices, from
          the way you discover others, the way you plan your profile.</p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" >
      <div class="card-body">
        <h4 class="card-title" style="text-align:center">The team</h4>
        <hr class="my-4" style="display: block; height: 1px;
        border: 0; border-top: 1px solid #ccc;
        margin: 1em 0; padding: 0;">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <div class="halfpagee">
            <div class="card mb-3">
              <h3 class="card-header coloor">Hidayah</h3>
              <div class="card-body">
              </div>
              <img class="img-fluid circular--square" style="height: 100%; width: 100%; display: block;" src="./assets/img/dee.jpg" alt="Card image">
              <ul class="list-group list-group-flush">
                <li class="list-group-item coloor">The Founder of AdamHawa.com
                </li>
              </ul>
            </div>
        </div>

        <div class="halfpagee">
            <div class="card mb-3">
              <h3 class="card-header coloor">Nadzrin</h3>
              <div class="card-body">
              </div>
              <img class="img-fluid circular--square" style="height: 100%; width: 100%; display: block;" src="./assets/img/naz.jpg" alt="Card image">
              <ul class="list-group list-group-flush">
                <li class="list-group-item coloor">The Developer of AdamHawa.com
                </li>
              </ul>
            </div>
        </div>

        <div class="halfpagee">
            <div class="card mb-3">
              <h3 class="card-header coloor">Diana</h3>
              <div class="card-body">
              </div>
              <img class="img-fluid circular--square" style="height: 100%; width: 100%; display: block;" src="./assets/img/diana.jpg" alt="Card image">
              <ul class="list-group list-group-flush">
                <li class="list-group-item coloor">The Head Finances of AdamHawa.com
                </li>
              </ul>
            </div>
        </div>

        <div class="halfpagee">
            <div class="card mb-3">
              <h3 class="card-header coloor">Aina</h3>
              <div class="card-body">
              </div>
              <img class="img-fluid circular--square" style="height: 100%; width: 100%; display: block;" src="./assets/img/aina.jpg" alt="Card image">
              <ul class="list-group list-group-flush">
                <li class="list-group-item coloor">The Head Marketing of AdamHawa.com
                </li>
              </ul>
            </div>
        </div>
  </div>
</div>